@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
	--color-blue: #579dff;
}

html,
body {
	padding: 0;
}

body {
	font-family: "Varela Round", sans-serif;
	font-size: 18px;
}

