@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
	--color-blue: #579dff;
}

html,
body {
	padding: 0;
}

body {
	font-family: "Varela Round", sans-serif;
	font-size: 18px;
}

main {
	max-height: 100%;
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 16px;
	padding-top: 64px;
}
.intro {
	display: flex;
	justify-content: space-between;
}

.intro button {
	background-color: transparent;
	border: 1px solid var(--color-blue);
	padding: 16px;
	border-radius: 16px;
	cursor: pointer;
	background-color: var(--color-blue);
	font-weight: 600;
	color: white;
	align-self: center;
}
.intro button:hover {
	opacity: 0.7;

	transition: opacity 400ms ease-in-out;
}

.name {
	margin: 0;
	font-size: 2.5rem;
	letter-spacing: 0.5rem;
	color: var(--color-blue);
}

h2 {
	margin: 8px 0;
}

section {
	margin-top: 64px;
}
.social-links {
	max-width: 180px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin: 32px 0;
}

.about {
	margin: 32px 0;
}

.resume {
	display: inline-block;
}

.tech-stack {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.2rem;
	gap: 16px;
}
.tech-stack span {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.projects {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.project-card {
	padding: 16px;
}
.project-card a {
	text-decoration: none;
}
.title-description {
	margin: 8px 0;
}
.project-card a:hover {
	opacity: 0.6;
}
.project-card img {
	width: 100%;
}

.title-description {
	display: flex;
	justify-content: space-evenly;
}

.attribution {
	text-align: center;
	margin-top: 32px;
}

main.dark-mode {
	background: #121212;
	color: white;
	transition: all 400ms ease;
}

main.dark-mode .project-card {
	border: 1px solid var(--color-blue);
}

.theme-mode {
	position: absolute;
	top: 24px;
	right: 32px;
}

svg {
	height: 50px;
	width: 50px;
}
.dark-mode {
	display: none;
}

.item-list {
	position: relative;
}

.item-list svg {
	position: absolute;
	top: 32px;
	right: 32px;
	cursor: pointer;
}

body.light,
body.light h1,
body.light h2 {
	background-color: #579dff;
	color: rgb(18, 18, 18);
}

body.light h1,
body.light h2 {
	color: white;
}

body.dark {
	/* transition: all 1000ms ease; */
	background-color: rgb(18, 18, 18);
	color: white;
}

body.dark h1,
body.dark h2 {
	color: var(--color-blue);
}

@media screen and (min-width: 700px) {
	.projects {
		grid-template-columns: 1fr 1fr;
	}
}
